{% extends 'main/layout_home.html' %}

{% block content %}
<div class="features">

<form>
    <h2>Տեղադրել հայտարարություն</h2>
    <br>
<a href="{% url 'add_car' %}"><li class="btn btn-dark"><i class="fas fa-plus-circle"></i>Մեքենա</li></a>
<a href="{% url 'add_car_parts' %}"><li class="btn btn-secondary"><i class="fas fa-plus-circle"></i>Ավտոպահեստամաս</li></a>
<a href="{% url 'add_accessories' %}"><li class="btn btn-info"><i class="fas fa-plus-circle"></i>Ակսեսուար</li></a>
<a href="{% url 'add_problem' %}"><li class="btn btn-danger"><i class="fas fa-plus-circle"></i>Անսարքություն</li></a>

</form>
    <div>
{% endblock %}
