{% extends 'main/layout_home.html' %}


 {% block content %}

<div class="features">
    <h1>Մեր մասին</h1>
    <p>Կայքում կարող եք տեղադրել ձեր վաճառքի մեքենան, ավտոպահեստամասերը, աքսեսուարները, հարցնեք ձեր խնդիրների մասին, իմանաք տեղեկություններ որոնք կապված են ձեր մեքենայի հետ, իմանաք արեստավորների համարներ, կիսվեք ձեր ունեցած փորձով</p>
    <p>***************************************************************</p>
    <h1>Չի թույլատրվում</h1>
    <p>* Տեղադրելով այն տարբեր մակնիշների եւ մոդելների մեջ։ Մեկ տրանսպորտային միջոցի հայտարարությունը տեղադրեք մեկ անգամ՝ հենց իր մակնիշի եւ մոդելի մեջ։</p>
    <p>* Հայտարարության նկարների մեջ տեղադրել հայտարարությանը չվերաբերող լրացուցիչ տեքստային ինֆորմացիա, նշաններ կամ պիտակներ։<p>
    <p>* Վաճառվող ապրանքի արժեքը նշել շուկայականից անտրամաբանական ցածր գներով։ Նման գնային մանիպուլյացիաները մենք համարում ենք ոչ բարեխիղճ գործիք՝ որոնման արդյուքներում ուշադրություն գրավելու համար։</p>
</div>
        {% endblock %}