{% extends 'main/layout_home.html' %}


 {% block content %}

<div class="features">
    <h2>Մեր մասին</h2>
    <p>Կայքում կարող եք տեղադրել ձեր վաճառքի մեքենան, ավտոպահեստամասերը, աքսեսուարները, հարցնեք ձեր խնդիրների մասին, իմանաք տեղեկություններ որոնք կապված են ձեր մեքենայի հետ, իմանաք արեստավորների համարներ, կիսվեք ձեր ունեցած փորձով</p>
    <h1>*************************</h1>
<form action="{% url 'index' %}" method="post" enctype="multipart/form-data">
    <ul>
    {% csrf_token %}
    Հաղորդագրություն
    <br>
    {{form.text}}
    <br>
    Էլեկտրոնային հասցե
    <br>
    {{form.el_post}}
    </ul>
    <button>Ուղարկել</button>
</form>
    </div>
        {% endblock %}