{% extends 'main/layout_home.html' %}
{% load static %}
{% block content %}
<div class="features">
    {% if year.year == 2017 %}
    <h2>2017 Ford Fusion</h2>
<img src="{% static 'main/img/2017.jpg' %}">
    <p>Ford Fusion-ն այնքան հասանելի կոնֆիգուրացիաներ ունի, որ գործնականում չի համապատասխանում դասակարգմանը: Արդյո՞ք դա բյուջետային ընտանեկան մեքենա է: Քողարկված սպորտային սեդա՞ն։ Մուտքի շքեղության մրցակից: Արդյունավետ հիբրիդ? Պատասխանը բոլոր չորսն է, և վերը նշվածներից ոչ մեկը: Առաջարկելով այդքան շատ տարբերակներ՝ Fusion-ը չի գերազանցում: Honda-ի և Mazda-ի մրցակիցները դինամիկորեն գերազանցում են, և հատուկ հիբրիդային մոդելները, ինչպիսիք են Toyota Prius-ը և Chevrolet Volt-ը, պահանջում են ավելի քիչ փոխզիջումներ: Fusion-ը գեղեցիկ և իրավասու ընտանեկան սեդան է, բայց խելամիտ գնորդները կցանկանան համեմատական գնումներ կատարել:</p>
      {% elif year.year == 2018 %}
    <h2>2018 Ford Fusion</h2>
<img src="{% static 'main/img/2018.jpg' %}">
    <p>Fusion-ը հասանելի է վեց շարժիչով. երկուսը կարող են համալրվել լիաքարշակով, երկուսը հիբրիդային են, իսկ մեկը՝ տպավորիչ 325 ձիաուժ հզորությամբ: Այնուհետև կան հարդարման հինգ մակարդակներ, որոնք ընդգրկում են մերկ ոսկորներից մինչև շքեղություն: Եվ, իհարկե, կան նրա սեգմենտը որոշող լավ տեսքը:Շատ գնորդներ գոհ կլինեն Վերածննդի այս մեքենայից, բայց մենք չենք կարող չմտածել, որ ոմանք կարող են ավելի երջանիկ լինել:</p>
    {% elif year.year == 2019 %}
    <h2>2019 Ford Fusion</h2>
<img src="{% static 'main/img/2019.jpg' %}">
    <p>Աշխատանքային SE-ից մինչև շքեղ Platinum 2019 Ford Fusion-ն առաջարկում է ինչ-որ բան բոլորի համար: Այն հասանելի է վեց շարժիչով; երկուսը կարող են համալրվել լիաքարշակով, երկուսը հիբրիդային են, իսկ մեկը՝ 325 ձիաուժ։ Այնուհետև կան հարդարման հինգ մակարդակներ, որոնք ընդգրկում են մերկ ոսկորներից մինչև շքեղություն: Եվ, իհարկե, կան նրա սեգմենտը որոշող լավ տեսքը: Չկա այն կենտրոնացված գերազանցությունը, որը մենք վայելում ենք այնպիսի մրցակիցներից, ինչպիսիք են Honda Accord-ը և Mazda 6-ը: Շատ գնորդներ գոհ կլինեն Վերածննդի այս մեքենայով, բայց մենք չենք կարող չմտածել, որ նրանք կարող են ավելի երջանիկ լինել մեկ այլ բանում:</p>
    {% elif year.year == 2020 %}
    <h2>2020 Ford Fusion</h2>
<img src="{% static 'main/img/2020.jpg' %}">
    <p>2020 թվականի Ford Fusion-ն ունի հսկայական բազմակողմանիություն թեժ վիճելի հատվածում: Գոյություն ունի ուժային համակարգի չորս տարբերակ, որոնցից մեկը կարող է ունենալ լիաքարշակ, իսկ երկուսը` էլեկտրականացված: Ford-ն առաջարկում է հարդարման վեց մակարդակ, որոնք տատանվում են հիմնականից մինչև գրեթե շքեղություն: Ցավոք, Fusion-ը զոհ է դարձել Ford-ի կողմից մեքենաների շուկայից թեքվելու՝ հօգուտ ամենագնացների և բեռնատարների, և 2020 թվականը կլինի նրա վերջին մոդելային տարին:</p>
{% endif %}

<ul>
{% for fusionyear in year.fusionyear_set.all %}
    <h2>{{ fusionyear.title }}</h2>
    <p>{{ fusionyear.text }}</p><br>
{% endfor %}
</ul>
 </div>

        {% endblock %}
